@model PatientEditViewModel
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Patient</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <h1>Ajouter un Patient</h1>

    <form asp-action="AddPatient" asp-controller="Patient" method="post">

        <input asp-for="Patient.PatientId" type="hidden" value="0" />
        <div class="form-group">
            <label asp-for="Patient.Age"></label>
            <input asp-for="Patient.Age" class="form-control" />
            <span asp-validation-for="Patient.Age" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Patient.Prenom"></label>
            <input asp-for="Patient.Prenom" class="form-control" />
            <span asp-validation-for="Patient.Prenom" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Patient.Nom"></label>
            <input asp-for="Patient.Nom" class="form-control" />
            <span asp-validation-for="Patient.Nom" class="text-danger"></span>
            <span asp-validation-for="Patient.Antecedents" class="text-danger"></span>
            <span asp-validation-for="Patient.Ordonnance" class="text-danger"></span>
        </div>
        <input type="submit" value="Ajouter le Patient" class="btn btn-primary" />
        <input type="button" onclick="history.back()" value="Annuler" class="btn btn-secondary" />
    </form>

    <div asp-validation-summary="All" class="text-danger"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
